In [3]:
# Aplikacja do generowania cech technologicznych - typu rowki wpustowe
import numpy as np
import pandas as pd
# Generowanie liczb losowych
#from numpy.random import randn
#np.random.seed(101)

# Dane opisujące cechę technologiczną typu rowek wpustowy
D - Diameter: średnica powierzchni cylindrycznej (stopień wału) na której znajduje się rowek wpustowy; od 6 do 500
R - Radius: szerokość rowka = średnica freza: odpowiada parametrowi b; od 2 do 40
L - Length: długość rowka; od 6 do 500
G - Depth: głębokość rowka; od 1.2 do 31
Fit - pasowanie, dopuszczalne wartości: H9, N9, P9
IT - klasa dokładności, pole tolerancji: 9 lub 10
Ra - chropowatość powierzchni: od 0.63 do 10 (6.3)
Mat_PN - nazwa materiału obrabianego wg polskiej normy PN: 18 różnych
Rm - wytrzymałość materiału na rozciąganie w MPa: od 380 do 120 MPa
HB - twardość materiału wg Brinella: od 143 do 255

In [4]:
# Wczytanie potrzebnych danych
material = pd.read_excel('qRowkiWpustowe.xlsx',sheet_name='material')
dfRa = pd.read_excel('qRowkiWpustowe.xlsx',sheet_name='Ra')
dfDims = pd.read_excel('qRowkiWpustowe.xlsx',sheet_name='wymiary')
dfLen = pd.read_excel('qRowkiWpustowe.xlsx',sheet_name='dlugosc')

In [5]:
material.head()

   Nr    IDMat Mat_PN   Rm   HB    Km
0   1  Mat0001     15  380  143  0.75
1   2  Mat0002     20  420  156  0.90
2   3  Mat0003   St3S  380  120  0.90
3   4  Mat0004   St4S  420  140  0.90
4   5  Mat0005   MSt5  500  160  1.10

In [6]:
# Losowanie materiału
# Odczytać ile ich jest - poprzez zakres Nr
Mmin = material['Nr'].min()
Mmax = material['Nr'].max()
print(Mmin, Mmax)
MID = np.random.randint(Mmin,Mmax)
print(MID)
# Odczytaj materiał
Mat_Selected = material[material['Nr']==MID]
Mat_Selected

1 18
12

    Nr    IDMat Mat_PN   Rm   HB   Km
11  12  Mat0012    30H  900  187  1.7

In [7]:
Mat_PN = Mat_Selected['Mat_PN'].iloc[0]
print("Materiał PN: {0}".format(Mat_PN))
Rm = Mat_Selected['Rm'].iloc[0]
print("Wytrzymałość Rm = {0}".format(Rm))
HB = Mat_Selected['HB'].iloc[0]
print("Twardość HB = {0}".format(HB))

Materiał PN: 30H
Wytrzymałość Rm = 900
Twardość HB = 187

In [8]:
# Zakres możliwych chropowatości
dfRa.head()

     Ra  Nr
0  0.63   1
1  1.25   2
2  2.50   3
3  3.20   4
4  5.00   5

In [9]:
# Losowanie chropowatości
Ramin = dfRa['Nr'].min()
Ramax = dfRa['Nr'].max()
print(Ramin,Ramax)
RaID = np.random.randint(Ramin,Ramax)
print(RaID)
# Odczytaj Ra
Ra_Selected = dfRa[dfRa['Nr']==RaID]
print(Ra_Selected)
Ra = Ra_Selected['Ra'].iloc[0]
print("Chropowatość Ra = {0}".format(Ra))
Fit = 'N9'
print("Pasowanie: {0}".format(Fit))

1 7
4
    Ra  Nr
3  3.2   4
Chropowatość Ra = 3.2
Pasowanie: N9

In [10]:
# Zakresy możliwych wymiarów
dfDims.head()

   Nr  Dmin  Dmax  b_R  t1_G  Lmin  Lmax
0   1     6     8    2   1.2     6    20
1   2     8    10    3   1.8     6    36
2   3    10    12    4   2.5     8    45
3   4    12    17    5   3.0    10    56
4   5    17    22    6   3.5    14    70

In [11]:
# Losowanie zestawu danych
DimMin = dfDims['Nr'].min()
DimMax = dfDims['Nr'].max()
print(DimMin, DimMax)
DID = np.random.randint(DimMin, DimMax)
print(DID)
# Odczytaj zestaw
Dim_Selected = dfDims[dfDims['Nr']==DID]
Dim_Selected

1 18
1

   Nr  Dmin  Dmax  b_R  t1_G  Lmin  Lmax
0   1     6     8    2   1.2     6    20

In [12]:
# Szerokość rowka b => R
R = Dim_Selected['b_R'].iloc[0]
# R = dfDims['b_R'].iloc[DID-1]
print("Szerokość rowka (średnica freza): R = {0} [mm]".format(R))

Szerokość rowka (średnica freza): R = 2 [mm]

In [13]:
# Głębokość rowka t1 => G
G = Dim_Selected['t1_G'].iloc[0]
print("Głębokość rowka: G = {0} [mm]".format(G))

Głębokość rowka: G = 1.2 [mm]

In [14]:
# Losowanie średnicy wału (powierzchni cylindrycznej) w zadanym zakresie
Dmin = Dim_Selected['Dmin'].iloc[0]
Dmax = Dim_Selected['Dmax'].iloc[0]
print("Losowanie średnicy w zakresie od {0} do {1}".format(Dmin,Dmax))
D = np.random.randint(Dmin,Dmax)
print("Wylosowano średnicę D = {0} [mm]".format(D))

Losowanie średnicy w zakresie od 6 do 8
Wylosowano średnicę D = 6 [mm]

In [15]:
# Losowanie długości wpustu w zadanym zakresie
Lmin = Dim_Selected['Lmin'].iloc[0]
Lmax = Dim_Selected['Lmax'].iloc[0]
print("Losowanie długości wpustu w zakresie od {0} do {1}".format(Lmin,Lmax))

Losowanie długości wpustu w zakresie od 6 do 20

In [16]:
# Znormalizowane długości są w innej tabeli
dfLen.head()

   Nr  b_R   L
0   1    2   6
1   2    2   8
2   3    2  10
3   4    2  12
4   5    2  14

In [17]:
# Dyskretne wartości długości odczytujemy z innej tabeli wykonując selekcję dla danej szerokości rowka b -> R
Selected_Lens = dfLen[dfLen['b_R']==R]
Selected_Lens

   Nr  b_R   L
0   1    2   6
1   2    2   8
2   3    2  10
3   4    2  12
4   5    2  14
5   6    2  16
6   7    2  18
7   8    2  20

In [18]:
NRmin = Selected_Lens['Nr'].min()
NRmax = Selected_Lens['Nr'].max()
print("Losowanie w zakresie numerów od {0} do {1}".format(NRmin,NRmax))
NrID = np.random.randint(NRmin,NRmax)
print(NrID)
# Odczytaj długość L
NR_Selected = Selected_Lens[Selected_Lens['Nr']==NrID]
print(NR_Selected)
L = NR_Selected['L'].iloc[0]
print("Wylosowano długość L = {0} [mm]".format(L))

Losowanie w zakresie numerów od 1 do 8
4
   Nr  b_R   L
3   4    2  12
Wylosowano długość L = 12 [mm]

In [19]:
print("Podsumowanie losowania")
print("Wymiary geometryczne rowka:")
print("Średnica wału D={0}, Szerokość rowka R={1}, Długość rowka L={2}, Głębokość rowka G={3}".format(D,R,L,G))
print("Parametry technologiczne:")
print("Pasowanie IT={0}, chropowatość Ra={1}".format(Fit,Ra))
print("Parametry materiałowe:")
print("Material PN: {0}, wytrzymałość Rm={1} [MPa], twardość HB={2}".format(Mat_PN, Rm, HB))

Podsumowanie losowania
Wymiary geometryczne rowka:
Średnica wału D=6, Szerokość rowka R=2, Długość rowka L=12, Głębokość rowka G=1.2
Parametry technologiczne:
Pasowanie IT=N9, chropowatość Ra=3.2
Parametry materiałowe:
Material PN: 30H, wytrzymałość Rm=900 [MPa], twardość HB=187